<div style="display:flex; justify-content:center; margin-top: 50px">
  <mat-card style="width: 50%">
    <mat-card-content>
      <h1> {{ articlesData[articleId]?.title }} </h1>
      <p> {{ articlesData[articleId]?.content }} </p>
      <div style="font-size: 18px;">
        <span style="font-weight: 700;">Yazar</span> {{ articlesData[articleId]?.author }}
      </div>

      <div style="margin:30px 0px">
        <div *ngFor="let comment of articlesData[articleId].comments" >
          <span style="font-weight: 500"> {{comment.username}}: </span>
          <span> {{comment.comment}} </span>
        </div>
      </div>


      <div style="display: flex; flex-direction: column; margin-top: 50px">
        <mat-form-field>
          <mat-label>Kullanıcı Adı</mat-label>
          <input [(ngModel)]="username" matInput />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Yorum</mat-label>
          <input [(ngModel)]="comment" matInput />
        </mat-form-field>
      </div>

      </mat-card-content>
    <mat-card-actions>
      <button style="width: 100%;" mat-raised-button
      color="primary" (click)="addComment()" >Yorum Yap</button>
      <!-- (click)="post()" -->
    </mat-card-actions>
  </mat-card>
</div>
