<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label>İsim</label>
        <input
          class="form-control"
          type="text"
          (input)="OnNameChange($event.target.value)"
        />
      </div>
    </div>
    <div class="col-md-6">
      <label><b>İsim</b></label>
      <div>
        {{ name | titlecase }} || {{ name | uppercase }} ||
        {{ name | lowercase }}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label>Tarih</label>
        <input
          class="form-control"
          type="date"
          (input)="OnDateChange($event.target.value)"
        />
      </div>
    </div>
    <div class="col-md-6">
      <label><b>Tarih</b></label>
      <div>
        {{ date | date: "longDate" }}
        {{ date | date: "MMMM d, y" }}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label>Tutar</label>
        <input
          class="form-control"
          type="text"
          (input)="OnMoneyChange($event.target.value)"
        />
      </div>
    </div>
    <div class="col-md-6">
      <label><b>Tutar</b></label>
      <div>
        {{ money | currency: "EUR" }}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label>Boy</label>
        <input
          class="form-control"
          type="text"
          (input)="OnHeightChange($event.target.value)"
        />
      </div>
    </div>
    <div class="col-md-6">
      <label><b>Boy</b></label>
      <div>
        {{ height | number: "1.1-4" }}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label>Kilogram</label>
        <input
          class="form-control"
          type="text"
          (input)="OnWeightChange($event.target.value)"
        />
      </div>
    </div>
    <div class="col-md-6">
      <div>
        <div>
          <label><b>Hektogram:</b></label>
          {{ weight | convert: "hg" }}
        </div>
        <label><b>Decagram:</b></label>
        {{ weight | convert: "dag" }}
      </div>
      <div>
        <label><b>Gram:</b></label>
        {{ weight | convert: "g" }}
      </div>
    </div>
  </div>
</div>
