<!-- <div>
  <p>İlk Angular Projem</p>
  {{ tunahan }}
</div> -->

<!-- <div *ngIf="isUpdate">True ise</div>

<div *ngIf="!isUpdate">False ise</div> -->

<!-- <div *ngFor="let post of posts">{{ post.title }}</div> -->

<div class="container">
  <div class="row my-5">
    <div class="col-md-4" *ngFor="let post of posts">
      <!-- İLK YÖNTEM

        <app-card
        [titleChild]="post.title"
        [imageUrlChild]="post.imageUrl"
        [usernameChild]="post.username"
        [contentChild]="post.content"
      ></app-card>
                                  -->
      <app-card [post]="post"></app-card>
    </div>
  </div>
</div>
